<a href="https://colab.research.google.com/github/krishnan5307/PySpark_credit_Card_defaulters_/blob/main/credit_Card_defaulters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=76828cf1574712ddcf545184c2f8b2ea6ec2d0ec51207fce34cda8e30e9809f9
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/Machine Learning/UCI_Credit_Card.csv",header=True)

In [ ]:
df.head(5)

[Row(ID='1', LIMIT_BAL='20000', SEX='2', EDUCATION='2', MARRIAGE='1', AGE='24', PAY_0='2', PAY_2='2', PAY_3='-1', PAY_4='-1', PAY_5='-2', PAY_6='-2', BILL_AMT1='3913', BILL_AMT2='3102', BILL_AMT3='689', BILL_AMT4='0', BILL_AMT5='0', BILL_AMT6='0', PAY_AMT1='0', PAY_AMT2='689', PAY_AMT3='0', PAY_AMT4='0', PAY_AMT5='0', PAY_AMT6='0', default.payment.next.month='1'),
 Row(ID='2', LIMIT_BAL='120000', SEX='2', EDUCATION='2', MARRIAGE='2', AGE='26', PAY_0='-1', PAY_2='2', PAY_3='0', PAY_4='0', PAY_5='0', PAY_6='2', BILL_AMT1='2682', BILL_AMT2='1725', BILL_AMT3='2682', BILL_AMT4='3272', BILL_AMT5='3455', BILL_AMT6='3261', PAY_AMT1='0', PAY_AMT2='1000', PAY_AMT3='1000', PAY_AMT4='1000', PAY_AMT5='0', PAY_AMT6='2000', default.payment.next.month='1'),
 Row(ID='3', LIMIT_BAL='90000', SEX='2', EDUCATION='2', MARRIAGE='2', AGE='34', PAY_0='0', PAY_2='0', PAY_3='0', PAY_4='0', PAY_5='0', PAY_6='0', BILL_AMT1='29239', BILL_AMT2='14027', BILL_AMT3='13559', BILL_AMT4='14331', BILL_AMT5='14948', BILL_AMT6='15549', PAY_AMT1='1518', PAY_AMT2='1500', PAY_AMT3='1000', PAY_AMT4='1000', PAY_AMT5='1000', PAY_AMT6='5000', default.payment.next.month='0'),
 Row(ID='4', LIMIT_BAL='50000', SEX='2', EDUCATION='2', MARRIAGE='1', AGE='37', PAY_0='0', PAY_2='0', PAY_3='0', PAY_4='0', PAY_5='0', PAY_6='0', BILL_AMT1='46990', BILL_AMT2='48233', BILL_AMT3='49291', BILL_AMT4='28314', BILL_AMT5='28959', BILL_AMT6='29547', PAY_AMT1='2000', PAY_AMT2='2019', PAY_AMT3='1200', PAY_AMT4='1100', PAY_AMT5='1069', PAY_AMT6='1000', default.payment.next.month='0'),
 Row(ID='5', LIMIT_BAL='50000', SEX='1', EDUCATION='2', MARRIAGE='1', AGE='57', PAY_0='-1', PAY_2='0', PAY_3='-1', PAY_4='0', PAY_5='0', PAY_6='0', BILL_AMT1='8617', BILL_AMT2='5670', BILL_AMT3='35835', BILL_AMT4='20940', BILL_AMT5='19146', BILL_AMT6='19131', PAY_AMT1='2000', PAY_AMT2='36681', PAY_AMT3='10000', PAY_AMT4='9000', PAY_AMT5='689', PAY_AMT6='679', default.payment.next.month='0')]

In [ ]:
len(df.columns)

25

In [ ]:
df.count()

30000

In [ ]:
df.printSchema

<bound method DataFrame.printSchema of DataFrame[ID: string, LIMIT_BAL: string, SEX: string, EDUCATION: string, MARRIAGE: string, AGE: string, PAY_0: string, PAY_2: string, PAY_3: string, PAY_4: string, PAY_5: string, PAY_6: string, BILL_AMT1: string, BILL_AMT2: string, BILL_AMT3: string, BILL_AMT4: string, BILL_AMT5: string, BILL_AMT6: string, PAY_AMT1: string, PAY_AMT2: string, PAY_AMT3: string, PAY_AMT4: string, PAY_AMT5: string, PAY_AMT6: string, default.payment.next.month: string]>

since all is string and we need to typecast, so we check with pandas for the datatype

In [ ]:
import pandas as pd

In [ ]:
df =pd.read_csv("/content/drive/MyDrive/Machine Learning/UCI_Credit_Card.csv")

In [ ]:

df.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier, RandomForestClassifier
from pyspark.ml.regression import DecisionTreeRegressor, RandomForestRegressor, GBTRegressor
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit
from pyspark.ml import Pipeline
from pyspark.ml.feature import StandardScaler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import StringIndexer
from pyspark.sql.types import StringType, IntegerType
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DoubleType
from pyspark.sql.functions import col, count, isnan, when
from pyspark.mllib.evaluation import BinaryClassificationMetrics
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.mllib.evaluation import BinaryClassificationMetrics, MulticlassMetrics

In [ ]:
# Define the schema (typecasting
schema = StructType([

StructField("ID"        ,  IntegerType(), nullable=False),
StructField("LIMIT_BAL" ,  FloatType(),   nullable=False),
StructField("SEX"       ,  IntegerType(), nullable=False),
StructField("EDUCATION" ,  IntegerType(), nullable=False),
StructField("MARRIAGE"  ,  IntegerType(), nullable=False),
StructField("AGE"       ,  IntegerType(), nullable=False),
StructField("PAY_0"     ,  IntegerType(), nullable=False),
StructField("PAY_2"     ,  IntegerType(), nullable=False),
StructField("PAY_3"     ,  IntegerType(), nullable=False),
StructField("PAY_4"     ,  IntegerType(), nullable=False),
StructField("PAY_5"     ,  IntegerType(), nullable=False),
StructField("PAY_6"     ,  IntegerType(), nullable=False),
StructField("BILL_AMT1" ,  FloatType(),   nullable=False),
StructField("BILL_AMT2" ,  FloatType(),   nullable=False),
StructField("BILL_AMT3" ,  FloatType(),   nullable=False),
StructField("BILL_AMT4" ,  FloatType(),   nullable=False),
StructField("BILL_AMT5" ,  FloatType(),   nullable=False),
StructField("BILL_AMT6" ,  FloatType(),   nullable=False),
StructField("PAY_AMT1"  ,  FloatType(),   nullable=False),
StructField("PAY_AMT2"  ,  FloatType(),   nullable=False),
StructField("PAY_AMT3"  ,  FloatType(),   nullable=False),
StructField("PAY_AMT4"  ,  FloatType(),   nullable=False),
StructField("PAY_AMT5"  ,  FloatType(),   nullable=False),
StructField("PAY_AMT6"  ,  FloatType(),   nullable=False),
StructField("default.payment.next.month", IntegerType(), nullable=False)

])

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/Machine Learning/UCI_Credit_Card.csv",header=True, schema= schema)

In [ ]:
df.printSchema

<bound method DataFrame.printSchema of DataFrame[ID: int, LIMIT_BAL: float, SEX: int, EDUCATION: int, MARRIAGE: int, AGE: int, PAY_0: int, PAY_2: int, PAY_3: int, PAY_4: int, PAY_5: int, PAY_6: int, BILL_AMT1: float, BILL_AMT2: float, BILL_AMT3: float, BILL_AMT4: float, BILL_AMT5: float, BILL_AMT6: float, PAY_AMT1: float, PAY_AMT2: float, PAY_AMT3: float, PAY_AMT4: float, PAY_AMT5: float, PAY_AMT6: float, default.payment.next.month: int]>

In [ ]:
df.show()

+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
| ID|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|PAY_0|PAY_2|PAY_3|PAY_4|PAY_5|PAY_6|BILL_AMT1|BILL_AMT2|BILL_AMT3|BILL_AMT4|BILL_AMT5|BILL_AMT6|PAY_AMT1|PAY_AMT2|PAY_AMT3|PAY_AMT4|PAY_AMT5|PAY_AMT6|default.payment.next.month|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
|  1|  20000.0|  2|        2|       1| 24|    2|    2|   -1|   -1|   -2|   -2|   3913.0|   3102.0|    689.0|      0.0|      0.0|      0.0|     0.0|   689.0|     0.0|     0.0|     0.0|     0.0|                         1|
|  2| 120000.0|  2|        2|       2| 26|   -1|    2|    0|    0|    0|    2|   2682.0|   1725.0|   2682.0|   3272.0|   3455.0|   3261.0|     0.0|  1000.0|  1000.0|  1000.0|     0.0|  2000.0|                         1|
|  3|  90000.0|  2|        2|       2| 34|    0|    0|    0|    0|    0|    0|  29239.0|  14027.0|  13559.0|  14331.0|  14948.0|  15549.0|  1518.0|  1500.0|  1000.0|  1000.0|  1000.0|  5000.0|                         0|
|  4|  50000.0|  2|        2|       1| 37|    0|    0|    0|    0|    0|    0|  46990.0|  48233.0|  49291.0|  28314.0|  28959.0|  29547.0|  2000.0|  2019.0|  1200.0|  1100.0|  1069.0|  1000.0|                         0|
|  5|  50000.0|  1|        2|       1| 57|   -1|    0|   -1|    0|    0|    0|   8617.0|   5670.0|  35835.0|  20940.0|  19146.0|  19131.0|  2000.0| 36681.0| 10000.0|  9000.0|   689.0|   679.0|                         0|
|  6|  50000.0|  1|        1|       2| 37|    0|    0|    0|    0|    0|    0|  64400.0|  57069.0|  57608.0|  19394.0|  19619.0|  20024.0|  2500.0|  1815.0|   657.0|  1000.0|  1000.0|   800.0|                         0|
|  7| 500000.0|  1|        1|       2| 29|    0|    0|    0|    0|    0|    0| 367965.0| 412023.0| 445007.0| 542653.0| 483003.0| 473944.0| 55000.0| 40000.0| 38000.0| 20239.0| 13750.0| 13770.0|                         0|
|  8| 100000.0|  2|        2|       2| 23|    0|   -1|   -1|    0|    0|   -1|  11876.0|    380.0|    601.0|    221.0|   -159.0|    567.0|   380.0|   601.0|     0.0|   581.0|  1687.0|  1542.0|                         0|
|  9| 140000.0|  2|        3|       1| 28|    0|    0|    2|    0|    0|    0|  11285.0|  14096.0|  12108.0|  12211.0|  11793.0|   3719.0|  3329.0|     0.0|   432.0|  1000.0|  1000.0|  1000.0|                         0|
| 10|  20000.0|  1|        3|       2| 35|   -2|   -2|   -2|   -2|   -1|   -1|      0.0|      0.0|      0.0|      0.0|  13007.0|  13912.0|     0.0|     0.0|     0.0| 13007.0|  1122.0|     0.0|                         0|
| 11| 200000.0|  2|        3|       2| 34|    0|    0|    2|    0|    0|   -1|  11073.0|   9787.0|   5535.0|   2513.0|   1828.0|   3731.0|  2306.0|    12.0|    50.0|   300.0|  3738.0|    66.0|                         0|
| 12| 260000.0|  2|        1|       2| 51|   -1|   -1|   -1|   -1|   -1|    2|  12261.0|  21670.0|   9966.0|   8517.0|  22287.0|  13668.0| 21818.0|  9966.0|  8583.0| 22301.0|     0.0|  3640.0|                         0|
| 13| 630000.0|  2|        2|       2| 41|   -1|    0|   -1|   -1|   -1|   -1|  12137.0|   6500.0|   6500.0|   6500.0|   6500.0|   2870.0|  1000.0|  6500.0|  6500.0|  6500.0|  2870.0|     0.0|                         0|
| 14|  70000.0|  1|        2|       2| 30|    1|    2|    2|    0|    0|    2|  65802.0|  67369.0|  65701.0|  66782.0|  36137.0|  36894.0|  3200.0|     0.0|  3000.0|  3000.0|  1500.0|     0.0|                         1|
| 15| 250000.0|  1|        1|       2| 29|    0|    0|    0|    0|    0|    0|  70887.0|  67060.0|  63561.0|  59696.0|  56875.0|  55512.0|  3000.0|  3000.0|  3000.0|  3000.0|  3000.0|  3000.0|                         0|
| 16|  50000.0|  2|        3|       3| 23|    1|    2|    0|    0|    0|    0|  50614.0|  29173.0|  28116.0|  28771.0|  29531.0|  30211.0|     0.0|  1500.0|  1100.0|  1200.0|  1300.0|  1100.0|                         0|
| 17|  20000.0|  1|        1|       2| 24|    0|    0|    2|    2|    2|    2|  15376.0|  18010.0|  17428.0|  18338.0|  17905.0|  19104.0|  3200.0|     0.0|  1500.0|     0.0|  1650.0|     0.0|                         1|
| 18| 320000.0|  1|        1|       1| 49|    0|    0|    0|   -1|   -1|   -1| 253286.0| 246536.0| 194663.0|  70074.0|   5856.0| 195599.0| 10358.0| 10000.0| 75940.0| 20000.0|195599.0| 50000.0|                         0|
| 19| 360000.0|  2|        1|       1| 49|    1|   -2|   -2|   -2|   -2|   -2|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|     0.0|     0.0|     0.0|     0.0|     0.0|     0.0|                         0|
| 20| 180000.0|  2|        1|       2| 29|    1|   -2|   -2|   -2|   -2|   -2|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|     0.0|     0.0|     0.0|     0.0|     0.0|     0.0|                         0|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
only showing top 20 rows

In [ ]:
df = df.withColumnRenamed("default.payment.next.month", "default_payment_next_month")

In [ ]:
## no need of strngindexer as there are no catergorcal varivale

In [ ]:
cols = df.columns
cols

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default_payment_next_month']

In [ ]:
cols.remove("default_payment_next_month")

In [ ]:
df.head(1)

[Row(ID=1, LIMIT_BAL=20000.0, SEX=2, EDUCATION=2, MARRIAGE=1, AGE=24, PAY_0=2, PAY_2=2, PAY_3=-1, PAY_4=-1, PAY_5=-2, PAY_6=-2, BILL_AMT1=3913.0, BILL_AMT2=3102.0, BILL_AMT3=689.0, BILL_AMT4=0.0, BILL_AMT5=0.0, BILL_AMT6=0.0, PAY_AMT1=0.0, PAY_AMT2=689.0, PAY_AMT3=0.0, PAY_AMT4=0.0, PAY_AMT5=0.0, PAY_AMT6=0.0, default_payment_next_month=1)]

In [ ]:
# Create VectorAssembler
##creating new vector /array column for all combined independent features


assembler = VectorAssembler(inputCols= cols, outputCol= "vectorized_features")

In [ ]:
df_vector= assembler.transform(df)

In [ ]:
df_vector=df_vector.select("default_payment_next_month","vectorized_features")
df_vector.show()

+--------------------------+--------------------+
|default_payment_next_month| vectorized_features|
+--------------------------+--------------------+
|                         1|[1.0,20000.0,2.0,...|
|                         1|[2.0,120000.0,2.0...|
|                         0|[3.0,90000.0,2.0,...|
|                         0|[4.0,50000.0,2.0,...|
|                         0|[5.0,50000.0,1.0,...|
|                         0|[6.0,50000.0,1.0,...|
|                         0|[7.0,500000.0,1.0...|
|                         0|[8.0,100000.0,2.0...|
|                         0|[9.0,140000.0,2.0...|
|                         0|[10.0,20000.0,1.0...|
|                         0|[11.0,200000.0,2....|
|                         0|[12.0,260000.0,2....|
|                         0|[13.0,630000.0,2....|
|                         1|[14.0,70000.0,1.0...|
|                         0|[15.0,250000.0,1....|
|                         0|[16.0,50000.0,2.0...|
|                         1|[17.0,20000.0,1.0...|
|                         0|[18.0,320000.0,1....|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
+--------------------------+--------------------+
only showing top 20 rows

In [ ]:
## feature scaling using standard scaler

scaler = StandardScaler(inputCol= "vectorized_features", outputCol= "scaledFeatures")
scaled_df= scaler.fit(df_vector).transform(df_vector)
scaled_df=scaled_df.select("default_payment_next_month", "scaledFeatures")
scaled_df.show()

+--------------------------+--------------------+
|default_payment_next_month|      scaledFeatures|
+--------------------------+--------------------+
|                         1|[1.15468129385139...|
|                         1|[2.30936258770278...|
|                         0|[3.46404388155417...|
|                         0|[4.61872517540556...|
|                         0|[5.77340646925695...|
|                         0|[6.92808776310834...|
|                         0|[8.08276905695973...|
|                         0|[9.23745035081112...|
|                         0|[0.00103921316446...|
|                         0|[0.00115468129385...|
|                         0|[0.00127014942323...|
|                         0|[0.00138561755262...|
|                         0|[0.00150108568200...|
|                         1|[0.00161655381139...|
|                         0|[0.00173202194077...|
|                         0|[0.00184749007016...|
|                         1|[0.00196295819954...|
|                         0|[0.00207842632893...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
+--------------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import rand

# Perform stratified shuffling
stratified_df = scaled_df.orderBy(rand())

# Split the data into train and test sets
train_df, test_df = stratified_df.randomSplit([0.7, 0.3], seed=42)

In [ ]:
test_df.show()

+--------------------------+--------------------+
|default_payment_next_month|      scaledFeatures|
+--------------------------+--------------------+
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
|                         0|(24,[0,1,2,3,4,5,...|
+--------------------------+--------------------+
only showing top 20 rows

In [ ]:
row_0 = test_df.select("scaledFeatures").collect()[0]   ## this will give output in SparseVector
# Row(scaledFeatures=SparseVector(24, {0: 0.0732, 1: 1.6185, 2: 4.0889, 3: 2.5305, 4: 1.9158, 5: 5.0988, 6: -1.7797, 7: -1.6706, 8: -1.671, 9: -1.7107, 10: -1.7649, 11: -1.7391}))
# converting to array
scaled_features = row_0.scaledFeatures.toArray()
print(scaled_features)

[ 0.05831141  0.23121804  2.04444962  7.59158623  1.91582038  5.74968015
 -1.77967368 -1.67058422 -1.67102865 -1.71066113 -1.76493313 -1.73914915
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.        ]

In [ ]:
scaled_features.ndim

1

In [ ]:
## building ML randomforest algorithm

df= RandomForestClassifier(labelCol="default_payment_next_month", featuresCol= "scaledFeatures")
model= df.fit(train_df)

## Note: in spark we only have fit() for trainig model, and we use transfrom() for test data to make prediction  but in case of preprocesing feature scling like standarscaler() we use both fit and transform

In [ ]:
prediction_df = model.transform(test_df)

In [ ]:
prediction_df.show()

+--------------------------+--------------------+--------------------+--------------------+----------+
|default_payment_next_month|      scaledFeatures|       rawPrediction|         probability|prediction|
+--------------------------+--------------------+--------------------+--------------------+----------+
|                         0|(24,[0,1,2,3,4,5,...|[15.6879231351588...|[0.78439615675794...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6378998909407...|[0.78189499454703...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6378998909407...|[0.78189499454703...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.8070289935361...|[0.79035144967680...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6378998909407...|[0.78189499454703...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6438296720789...|[0.78219148360394...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6819933540206...|[0.78409966770103...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6378998909407...|[0.78189499454703...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6438296720789...|[0.78219148360394...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.8129587746743...|[0.79064793873371...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6438296720789...|[0.78219148360394...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6378998909407...|[0.78189499454703...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6438296720789...|[0.78219148360394...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.5128642514252...|[0.77564321257126...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.5128642514252...|[0.77564321257126...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6378998909407...|[0.78189499454703...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6438296720789...|[0.78219148360394...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6378998909407...|[0.78189499454703...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6879231351588...|[0.78439615675794...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[15.6438296720789...|[0.78219148360394...|       0.0|
+--------------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
# ## evaluation

# eval = MulticlassClassificationEvaluator(labelCol="default_payment_next_month", predictionCol="prediction", metricName="accuracy")
# accuracy = eval.evaluate(prediction_df)  ## passing the predicted datafame
# print("accuracy", accuracy)

In [ ]:
## Binary class evalution

eval_binary = BinaryClassificationEvaluator(labelCol="default_payment_next_month", rawPredictionCol="prediction", metricName="areaUnderROC")
## here we can see y_test = "default_payment_next_month" and y_pred = "prediction" based on predcition dataframe
accuracy_binary = eval_binary.evaluate(prediction_df)  ## passing the predicted datafame
print("accuracy", accuracy_binary)

accuracy 0.6230306556986801

In [ ]:
from pyspark.sql.functions import udf
from pyspark.ml.linalg import DenseVector

# Assuming 'df' is your DataFrame with the 'probability' column

# Define a UDF to extract the probability value from the dense vector
extract_probability = udf(lambda x: float(DenseVector(x).values[1]), DoubleType())

# Apply the UDF to the 'probability' column and create a new column 'probability_double'
prediction_df = prediction_df.withColumn('probability_double', extract_probability('probability'))

In [ ]:
prediction_df.printSchema

In [ ]:
# Convert 'prediction', 'probability', and 'label' columns to RDD
predictionAndLabels = prediction_df.select("prediction", "probability_double", "default_payment_next_month").rdd

# Instantiate BinaryClassificationMetrics
binaryMetrics = BinaryClassificationMetrics(predictionAndLabels)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:158: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
# Calculate AUC
auc = binaryMetrics.areaUnderROC

# Print AUC
print("Area Under ROC Curve (AUC):", auc)

In [ ]:
# Get the metrics for binary classification
metrics = binary_metrics.binaryMetrics()

In [ ]:
# Calculate confusion matrix
confusion_matrix = binaryMetrics.confusionMatrix().toArray()

In [ ]:
# Extract the 'label' and 'probability' columns as RDDs
predictionAndLabels = prediction_df.select("probability", "default_payment_next_month").rdd.map(lambda row: (float(row["probability"][1]), float(row["default_payment_next_month"])))


# Calculate ROC curve and AUC for each class
classes = prediction_df.select("default_payment_next_month").distinct().rdd.flatMap(lambda x: x).collect()
roc_auc_scores = {}
for class_label in classes:
    class_predictions = predictionAndLabels.map(lambda x: (1.0 if x[1] == class_label else 0.0, x[0]))
    roc_auc_scores[class_label] = eval.evaluate(class_predictions)

# Print the results
for class_label, score in roc_auc_scores.items():
    print("Class:", class_label)
    print("ROC AUC Score:", score)
    print()

In [ ]:
# Extract the 'label' and 'probability' columns as RDDs
labels_and_scores = prediction_df.select('prediction', 'probability','default_payment_next_month').rdd.map(lambda row: (float(row['probability']), float(row['prediction']), float(row['default_payment_next_month'])))

# Instantiate BinaryClassificationMetrics
metrics = BinaryClassificationMetrics(labels_and_scores)

In [ ]:

# Calculate confusion matrix
confusion_matrix = prediction_df.groupBy("default_payment_next_month").pivot("prediction").count().na.fill(0)

# Print the results
print("Accuracy:", accuracy)

print("Confusion Matrix:")
confusion_matrix.show()

NameError: ignored

In [ ]:
from pyspark.sql.functions import col

# Assuming your label column is called "label = default_payment_next_month " converting that column to double
prediction_df = prediction_df.withColumn("default_payment_next_month", col("default_payment_next_month").cast("double"))

In [ ]:
prediction_df.printSchema

In [ ]:
# Convert predictions DataFrame to RDD
predictionAndLabels = prediction_df.select("prediction", "default_payment_next_month").rdd

# Instantiate MulticlassMetrics
metrics = MulticlassMetrics(predictionAndLabels)

# Get confusion matrix
confusion_matrix = metrics.confusionMatrix().toArray()

# Get true positives (TP), true negatives (TN), false positives (FP), false negatives (FN)
tn = confusion_matrix[0][0]
fp = confusion_matrix[0][1]
fn = confusion_matrix[1][0]
tp = confusion_matrix[1][1]

# Print the results
print("Confusion Matrix:")
print(confusion_matrix)

print("True Negatives (TN):", tn)
print("False Positives (FP):", fp)
print("False Negatives (FN):", fn)
print("True Positives (TP):", tp)

Confusion Matrix:
[[6580.  294.]
 [1369.  556.]]
True Negatives (TN): 6580.0
False Positives (FP): 294.0
False Negatives (FN): 1369.0
True Positives (TP): 556.0

# Save and Load in Parquet format:

In [ ]:
model.save("/content/drive/MyDrive/Machine Learning/credit_card_model.pkl")

In [ ]:
from pyspark.ml.classification import RandomForestClassificationModel

loaded_model = RandomForestClassificationModel.load("/content/drive/MyDrive/Machine Learning/credit_card_model")

In [ ]:
predc_df = loaded_model.transform(test_df)
predc_df.show()

+--------------------------+--------------------+--------------------+--------------------+----------+
|default_payment_next_month|      scaledFeatures|       rawPrediction|         probability|prediction|
+--------------------------+--------------------+--------------------+--------------------+----------+
|                         0|(24,[0,1,2,3,4,5,...|[16.1846322501604...|[0.80923161250802...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.2433734684691...|[0.81216867342345...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1124084631669...|[0.80562042315834...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1846322501604...|[0.80923161250802...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1124084631669...|[0.80562042315834...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1846322501604...|[0.80923161250802...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1124084631669...|[0.80562042315834...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.0536672448581...|[0.80268336224290...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1124084631669...|[0.80562042315834...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1846322501604...|[0.80923161250802...|       0.0|
|                         0|(24,[0,1,2,3,4,5,...|[16.1846322501604...|[0.80923161250802...|       0.0|
+--------------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
predc_df.count()

8799

## To manually give a sample data from test_df using filter function ,inorder to test with model to test as:
##sample input from user

In [ ]:
from pyspark.sql.functions import monotonically_increasing_id

# Add a unique ID column to the DataFrame
test_df_with_id = test_df.withColumn("row_id", monotonically_increasing_id())

# Filter out all rows except the third row
filtered_df = test_df_with_id.filter(test_df_with_id.row_id == 2)

# Remove the row_id column
filtered_df = filtered_df.drop("row_id")
filtered_df.show()

+--------------------------+--------------------+
|default_payment_next_month|      scaledFeatures|
+--------------------------+--------------------+
|                         0|(24,[0,1,2,3,4,5,...|
+--------------------------+--------------------+

In [ ]:
predc_df_user = loaded_model.transform(filtered_df)
predc_df_user.show()

+--------------------------+--------------------+--------------------+--------------------+----------+
|default_payment_next_month|      scaledFeatures|       rawPrediction|         probability|prediction|
+--------------------------+--------------------+--------------------+--------------------+----------+
|                         0|(24,[0,1,2,3,4,5,...|[16.1124084631669...|[0.80562042315834...|       0.0|
+--------------------------+--------------------+--------------------+--------------------+----------+

## So we successfully loaded the model and tested it using a test_df


# major issue faced was to convert the probability desne vector in prediction datafraem to double format inorder to calculrte roc and auc using "BinaryClassificationMetrics"